body{
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #818181;
    margin: 0;

}

header {
    background-color: #3aa78b;
    margin: 0;
}

section,p,img,figcaption, footer{
               margin: 40px;
}

video{
    margin: 20px;
}

    

h1{
    font-size: 63px;
    color: white;
    padding: 20px;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    
}

nav li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav li {
    float: left;
}

nav ul{
    float: right;
    list-style: none;
}

nav {
    font-size: 12px;
    letter-spacing: 4px;
    height: 10px;
    background-color: white;
}
table{
    width: 100%;
}